build/*
install/*
log/*
site/*
build/
install/
log/
site/
docs/built/
docs/built/*
persist.json
*.diff
*.log
bag_files/*
.history/
resources/
*.plan
*.pbtxt
*.etlt
*.onnx
geodata/
*.so
*.engine
*.tar*