sphinx_rtd_theme
sphinx-multiversion
sphinx-copybutton
sphinx-tabs
ruamel.yaml
autopep8
flake8-builtins
flake8-comprehensions
flake8-docstrings
flake8-import-order
onnx
scikit-learn
ninja
numpy-quaternion
trimesh
setuptools_scm>=6.2
yourdfpy>=0.0.53
warp-lang>=0.9.0
tqdm
importlib_resources
pytest-repeat
pytest-rerunfailures
flake8-class-newline
pandas
rosbags
uvloop==0.17.0
black==21.12b0
setuptools==65.7.0
pyyaml
paho-mqtt==1.6.1
tensorflow-cpu
flake8-blind-except
flake8-quotes
